.search-city {
  background-color: rgb(204, 238, 238);
  padding: 20px;
}

.current-city {
  background-color: rgb(206, 205, 204);
  padding: 20px;
}

.header {
  background-color: cadetblue;
  text-align: center;
  padding: 8px;
  font-size: 55px;
}
.forecast-date {
  font-size: 14px;
}
.forecast {
  font-size: 13px;
  list-style: none;
}
.current-day {
  list-style: none;
}
